body {
  margin: 0;
  font-family: '@font-face/Montserrat',
}



.navbar{
  height: 92px;
  border-radius: 0px;
  border-bottom: 1px solid #E11837;
  padding-bottom: 10px;
  margin-bottom: 2%;
}

.header{
  background: linear-gradient(225.1deg, #252932 29.16%, #050D1D 91.21%);
  border-radius: 0;
  margin-bottom: 4%;
  color: #FFFFFF;
  padding: 60px 36px 60px 36px;
}

.header .card-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 8.5px;
  text-transform: uppercase;
}

.details{
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0D0D0D;
  padding: 30px 10px 30px 10px;
  margin-bottom: 4%;
}

.carousel{
  margin-bottom: 4%;
}

.carousel .card{
  font-family: Montserrat;
  background: #E11837;
  color: #FFFFFF;
  padding: 10px 10px 10px 10px;
}

.carousel .card-pre-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
}

.carousel .card-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0.12px;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom:6px;
}

.carousel .btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #ffffff;
}
.carousel .btn:hover{
  color: #E11837;
  background-color: #ffffff;
}



.footer{
  background: #252932;
  color: #FFFFFF;
  padding: 30px 36px 30px 36px;
}

.footer .btn{
  color: #FFFFFF;
}

.footer input[type="text"],.footer input[type="email"]{
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  background-color: #252932;
  border-radius:0;
}

.footer input[type="text"]:focus,.footer input[type="email"]:focus{
  background-color: #FFFFFF;
}

.international-network{
  background: #F3F3F3;
  color: #363636;
  padding: 30px 10px 30px 10px;
  margin-bottom: 4%;
}

.accordion{
  font-family: Montserrat;
  font-style: normal;
  margin-bottom: 4%;
}

.accordion .pre-header{
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #0D0D0D;
}
.accordion .main-header{
  font-weight: 300;
  font-size: 28px;
  line-height: 125%;
}

.accordion-button {
  display:inline;
}
.accordion-button:focus {
  border-color: #252932;
  box-shadow: 0 0 0 0.25rem rgb(37 41 50 / 24%);
}
.accordion-button:not(.collapsed) {
  color: #363636;
  background-color: #F3F3F3;
}
